  /*-------------------------------------------- */
  
  /*-------------------------------------------- */
  /* H1 element */
   h1 {
       text-align: center;
       color: white;

   }
  /*-------------------------------------------- */
  /* body */
   body {
       background-color: #1f51FF;
   }
  /*-------------------------------------------- */
  /* p  */
   p {
       color: white;
       text-align: center;
       font-size: 20px;
   }
  /*-------------------------------------------- */