  /*-------------------------------------------- */
  /* h1 */
  h1 {
    text-align: center;
    color: white;
    background-color: darkblue;
  }
  /*-------------------------------------------- */
  /* h2 */
   h2 {
       text-align: center;
       color: white;
     
   }
  /*-------------------------------------------- */
  /* body */
   body {
       background-color: blue;
   }
  /*-------------------------------------------- */
  /* p  */
   p {
       color: white;
       text-align: center;
       font-size: 20px;
   }
  /*-------------------------------------------- */
  /* img1 */
  img {
    float: right;  
    max-width: 50%;
    max-height: 50%;
    width: auto;
      height: auto;
      border-style: groove;
      border-color:white;
      border-radius: 5px;
  }
  
  .container {
    width: 400px;
    height: 220px;
}

/* Resize images */
.container img {
    width: 100%;
    height: auto;
}